body{
    margin: 0;
    overflow: hidden;
    position: relative;
    font-family: Tahoma;
}

section#view {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
    height: 100%;
}

.desc {
    text-align: center;
    color: #aaa;
}

#grid {
    width: calc(10*50px);
    height: calc(10*50px);
    display: flex;
    flex-wrap: wrap;
    transform: rotateX(55deg) rotateY(0) rotateZ(-45deg);
    position: relative;
    z-index: 1;
}

.cell {
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    border: 1px solid #998f8a;
    transition: .1s;
    cursor: pointer;
}


.cell-active {
    background-color: red;
}

.cell:hover {
    background-color: #e7bd63;
}


.items-history {
    display: flex;
    flex-direction: column;
    width: 70px;
    position: absolute;
    left: 10px;
    top: 10px;
    padding: 0 10px;
}

.item-history-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-height: 24px;
    border-bottom: 1px dashed #aaa;
    padding: 5px 0 2px;
}

.item-history-row .item{
    height: 25px;
    width: 40px;
    background-position: center;
    cursor: default;
}



.item-history-row p{
    margin: 0;
}

.item-history-row i{
    cursor: pointer;
    font-size: 15px;
    margin-right: 5px;
}


.scroll-buttons {
    position: absolute;
    bottom: 20px;
    left: 20px;
    display: flex;
    flex-direction: column;
}

.scroll-buttons i{
    font-size: 40px;
    cursor: pointer;
    transition: .1s;
}

.scroll-buttons i:nth-child(1){
    margin-bottom: 10px;
}

.scroll-buttons i:hover{
    transform: scale(1.5)
}



.park {
    background: url(../img/park.png);
}
.bld1 {
    background: url(../img/bld.png);
}
.shop1 {
    background: url(../img/shop1.png);
}
.shop2 {
    background: url(../img/shop2.png);
}
.road1 {
    background: url(../img/road1.png);
}
.road2 {
    background: url(../img/road2.png);
}
.road3 {
    background: url(../img/road3.png);
}
.road4 {
    background: url(../img/road4.png);
}
.home1 {
    background: url(../img/home1.png);
}

.items-map .item {
    pointer-events: none;
    height: 200px;
    position: absolute;
    transition: .15s;
}


.item {
    height: 100px;
    width: 100px;
    display: flex;
    align-items: flex-end;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    cursor: pointer;
}

.item-map-hover {
    transform: translateY(-20px) scale(1.3);
    transform-origin: center bottom;
    z-index: 9999999 !important;
}

#items-list {
    margin-left: 50px;
    padding: 20px;
    height: 100px;
    overflow: scroll;
    position: relative;
}

#items-list .container {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
}

#items-list .item {
    margin: 0 5px;
}
